@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.pokedex {
    display: flex;
    border: 4px solid black;
    border-radius: 55px 10px 10px 10px;
    padding: 0 15px;
    background-color: red;
    width: 800px;
    height: 600px;

    .left-page {
        flex: 1;
        display: flex;
        flex-direction: column;
        border-right: 4px solid black;
        padding-bottom: 15px;
        .left-panel--top-decoration {
            border-top: 0;
            height: 100px;
            display: flex;
            align-items: center;

            .blue-light {
                height: 50px;
                width: 50px;
                border-radius: 35px;
                background-color: #2A84C0;
                border: 8px solid white;
            }
            .small-button {
                align-self:baseline;
                height: 15px;
                width: 15px;
                border-radius: 35px;
                border: 4px solid black;
                margin-top: 10px;
                margin-left: 15px;
            }
            .red-light {
                background-color: red;
            }
            .yellow-light {
                background-color: yellow;
            }
            .green-light {
                background-color: green;
            }
        }
        .left-panel--bottom-decoration {
            height: 25px;
            display: flex;
            padding-left: 50px;
            align-items: center;
            .bar {
                width: 75px;
                height: 5px;
                border: 2px solid black;
                border-radius: 25px;
                display: inline-block;
                margin-right: 15px;
            }
            .blue-bar {
                background-color: #2A84C0;
            }
        }
    }
    
    .right-page {
        flex: 1;
        padding-top: 35px;
        padding-left: 15px;
        .data-entry {
            display: flex;
            padding: 10px 15px;
            .pokedex-input {
                font-family: 'VT323', monospace;
                height: 48px;
                font-size: 36px;
                border-radius: 25px;
                padding-left: 15px;
                margin-right: 5px;
                &:focus-visible {
                    outline: none;
                }
            }
            button {
                background-color: #FFC252;
                height: 54px;
                width: 54px;
                border-radius: 48px;
                border: 4px solid black;
                cursor: pointer;
                &:hover {
                    background-color: #ffd17d;
                }
            }
            
        }

        .history-title {
            display: flex;
            justify-content: center;
            font-family: 'VT323', monospace;
            font-size: 28px;
            color: #000;
        }
        .history-box {
            display: flex;
            padding: 5px 15px;
            flex-direction: column;
            text-align: left;
            font-size: 16px;
            height: 150px;
            overflow: scroll;
            button {
                text-transform: capitalize;
            }
            li {
                list-style: none;
                padding: 5px 5px 5px 1  5px;
            }
        }
    }
}