.history-title {
    display: flex;
    justify-content: center;
    font-family: 'VT323', monospace;
    font-size: 28px;
    color: #000;
    
    @media(max-width: 768px){
        font-size: 26px;
    }
}
.history-box {
    display: flex;
    padding: 5px 15px;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    height: 150px;
    overflow: scroll;
    @media(max-width: 768px){
        max-height: 600px;
    }
    .no-history {
        font-family: 'VT323', monospace;
        text-align: center;
        @media(max-width: 768px){
            font-size: 24px;
        }
    }
    button {
        text-transform: capitalize;
        font-family: 'VT323', monospace;
        padding: 5px;
        background-color: #43A14E;
        border-radius: 5px;
        color: white;
        font-size: 24px;
        cursor: pointer;
        &:hover {
            background-color: #193d1d;
        }
    }
    li {
        list-style: none;
        padding: 5px 5px 5px 1  5px;
    }
}